<!-- HEADER -->


<div class="row mt-4">
    <div class="col-md-6 mt-3">
        <h4 class="fw-bold">Gestion des utilisateurs</h4>
    </div>
    <div class="col-md-6 text-end">
        <button (click)="openModalAdd(AddUser)" class="btn btn-warning text-white" id="addUtilisateur">
            <i class="bi bi-plus-circle me-2" style="position: relative; top: 1px;"></i>Ajouter un utilisateur
        </button>
    </div>
</div>

<div class="row my-4">
    <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Rechercher" id="search">
    </div>
</div>

<div class="container-fluid mb-2">
    <div class="row bg-light py-4 text-center" style="border-radius: 10px;">
        <div class="col-1 text-start">
            <h6> Id </h6>
        </div>
        <div class="col-md-3">
            <h6> Nom Complet </h6>
        </div>
        <div class="col-md-2">
            <h6> Contact </h6>
        </div>
        <div class="col-md-2">
            <h6> Email </h6>
        </div>
        <div class="col-md-3">
            <h6> Rôle </h6>
        </div>
        <div class="col-md-1 text-end">
            <h6> Actions </h6>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row py-4 text-center mb-2" id="tableBody" *ngFor="let user of users; let i = index">
        <div class="col-1 text-start">
            <h6> {{ user.id }} </h6>
        </div>
        <div class="col-3">
            <h6> {{ user.nom }} {{ user.prenoms }} </h6>
        </div>
        <div class="col-2">
            <h6> +225 {{ user.contact }} </h6>
        </div>
        <div class="col-2">
            <h6> {{ user.email }} </h6>
        </div>
        <div class="col-3">
            <h6> {{ user.role }} </h6>
        </div>

        <div class="col-1 text-end">
            <button class="btn btn-sm btn-outline-secondary me-2" id="ButtonEdit" (click)="openModalEdit(editeUser, user)">
                <i class="bi bi-pencil" style="color: black;"></i>
            </button>

            <button class="btn btn-sm btn-outline-danger" id="ButtonDelete" (click)="openModalDelete(confirmDelete, user)">
                <i class="bi bi-trash" style="color: red !important;"></i>
            </button>
        </div>
    </div>
</div>


<div class="row pt-4">
    <div class="col-12">
        <nav>
            <ul class="pagination justify-content-end">
                <li class="page-item disabled"><a class="page-link" href="#">‹</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">›</a></li>
            </ul>
        </nav>
    </div>
</div>


<!--  modal ajouter utilisateur-->
<ng-template #AddUser let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"> Ajouter un utilisateur </h4>
        <button type="button" id="iconeClose" class="btn-close" aria-label="Fermer"
            (click)="modal.dismiss('Cross click')"></button>
    </div>


    <div class="modal-body">
        <div class="container-fluid p-3" style="background-color: rgb(235, 233, 233);">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit(modal)">
                <div class="row mb-3">

                    <div class="col-6">
                        <div class="">
                            <label for="nom" class="form-label"> Nom </label>
                            <input type="text" class="form-control" id="nom" formControlName="nom" placeholder="Entrer votre nom">
                        </div>

                        <div *ngIf="userForm.get('nom')?.invalid && userForm.get('nom')?.touched">
                            <small *ngIf="userForm.get('nom')?.errors?.['required']">Le nom est obligatoire.</small>
                            <small *ngIf="userForm.get('nom')?.errors?.['minlength']">le nom doit contenir au moins 3 caractères.</small>
                        </div>

                    </div>
                    <div class="col-6">
                        <label for="prenoms" class="form-label"> Prénoms </label>
                        <input type="text" class="form-control" id="prenoms" formControlName="prenoms" placeholder="Entrer votre prénoms">
                    </div>

                    <div *ngIf="userForm.get('prenoms')?.invalid && userForm.get('prenoms')?.touched">
                        <small *ngIf="userForm.get('prenoms')?.errors?.['required']">Le prénoms est obligatoire.</small>
                        <small *ngIf="userForm.get('prenoms')?.errors?.['minlength']">le prenoms doit contenir moins 3 caractères.</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="email" class="form-label"> Email </label>
                            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Entrer votre email">
                        </div>

                        <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
                            <small *ngIf="userForm.get('email')?.errors?.['required']">L'adresse Email est obligatoire.</small>
                            <small *ngIf="userForm.get('email')?.errors?.['email']"> Saisir une adresse email</small>
                        </div>
                    </div>

                    <div class="col-6">
                        <label for="contact" class="form-label"> Contact </label>
                        <input type="text" class="form-control" id="contact" formControlName="contact"  placeholder="Entrer votre contact">
                    </div>

                    <div *ngIf="userForm.get('contact')?.invalid && userForm.get('contact')?.touched">
                        <small *ngIf="userForm.get('contact')?.errors?.['required']">Le champ est obligatoire.</small>
                        <small *ngIf="userForm.get('contact')?.errors?.['minlength']">Minimum 10 caractères.</small>
                        <small *ngIf="userForm.get('contact')?.errors?.['maxLength']">Maximum 10 caractères.</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div>
                            <label for="role" class="form-label"> Rôle </label>
                            <select class="form-select" formControlName="role">
                                <option value="" selected disabled> Sélectionnez</option>
                                <option value="Consultant">Consultant</option>
                                <option value="Administrateur">Administrateur</option>
                                <option value="Lecteur">Lecteur</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close('Fermer')" id="ButtonAnnuler">Annuler</button>
        <button type="submit" class="btn btn-primary" (click)="onSubmit(modal)" [disabled]="userForm.invalid" id="Buttoncreer">Créer</button>
    </div>

</ng-template>



<!--  modal Editer utilisateur-->
<ng-template #editeUser let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"> Ajouter un utilisateur </h4>
        <button type="button" id="iconeClose" class="btn-close" aria-label="Fermer"
            (click)="modal.dismiss('Cross click')"></button>
    </div>


    <div class="modal-body">
        <div class="container-fluid p-3" style="background-color: rgb(235, 233, 233);">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit(modal)">
               <h1>  {{selectedUser?.prenoms}} </h1>
                <div class="row mb-3">

                    <div class="col-6">
                        <div class="">
                            <label for="nom" class="form-label"> Nom </label>
                            <input type="text" class="form-control" id="nom" formControlName="nom" placeholder="Entrer votre nom">
                        </div>

                        <div *ngIf="userForm.get('nom')?.invalid && userForm.get('nom')?.touched">
                            <small *ngIf="userForm.get('nom')?.errors?.['required']">Le nom est obligatoire.</small>
                            <small *ngIf="userForm.get('nom')?.errors?.['minlength']">le nom doit contenir au moins 3 caractères.</small>
                        </div>

                    </div>
                    <div class="col-6">
                        <label for="prenoms" class="form-label"> Prénoms </label>
                        <input type="text" class="form-control" id="prenoms" formControlName="prenoms" placeholder="Entrer votre prénoms">
                    </div>

                    <div *ngIf="userForm.get('prenoms')?.invalid && userForm.get('prenoms')?.touched">
                        <small *ngIf="userForm.get('prenoms')?.errors?.['required']">Le prénoms est obligatoire.</small>
                        <small *ngIf="userForm.get('prenoms')?.errors?.['minlength']">le prenoms doit contenir moins 3 caractères.</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="email" class="form-label"> Email </label>
                            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Entrer votre email">
                        </div>

                        <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
                            <small *ngIf="userForm.get('email')?.errors?.['required']">L'adresse Email est obligatoire.</small>
                            <small *ngIf="userForm.get('email')?.errors?.['email']"> Saisir une adresse email</small>
                        </div>
                    </div>

                    <div class="col-6">
                        <label for="contact" class="form-label"> Contact </label>
                        <input type="text" class="form-control" id="contact" formControlName="contact"  placeholder="Entrer votre contact">
                    </div>

                    <div *ngIf="userForm.get('contact')?.invalid && userForm.get('contact')?.touched">
                        <small *ngIf="userForm.get('contact')?.errors?.['required']">Le champ est obligatoire.</small>
                        <small *ngIf="userForm.get('contact')?.errors?.['minlength']">Minimum 10 caractères.</small>
                        <small *ngIf="userForm.get('contact')?.errors?.['maxLength']">Maximum 10 caractères.</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div>
                            <label for="role" class="form-label"> Rôle </label>
                            <select class="form-select" formControlName="role">
                                <option value="" selected disabled> Sélectionnez</option>
                                <option value="Consultant">Consultant</option>
                                <option value="Administrateur">Administrateur</option>
                                <option value="Lecteur">Lecteur</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close('Fermer')" id="ButtonAnnuler">Annuler</button>
        <button type="submit" class="btn btn-primary" (click)="onSubmit(modal)" [disabled]="userForm.invalid" id="Buttoncreer">Créer</button>
    </div>

</ng-template>


<!-- modal confirmer suppression-->
<ng-template #confirmDelete let-modal style="width: 50% !important;">

    <div class="modal-body center text-center">


        <div class="py-3">
            <h4 style="font-weight: 600;" class="modal-title" id="modal-basic-title"> Supprimer un utilisateur </h4>
        </div>

        <p style="color: gray;" class="mb-4"> Voulez-vous supprimer l’utilisateur {{ selectedUser?.nom }} {{
            selectedUser?.prenoms }} ?  <br> Cette action est irréversible.</p>

        <div class="center text-center">
            <button type="button" class="btn btn-dark me-4" (click)="deleteUser(modal)" id="ButtonAnnuler">Oui</button>
            <button type="button" class="btn btn-primary" (click)="modal.close('Fermer')" id="Buttoncreer">Non</button>
        </div>


    </div>

</ng-template>







