<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">


<div class="container-fluid">
    <div class="row">


        <!-- SIDEBAR -->
        <div class="col-md-2 vh-100 p-3" id="sidebar">
            <app-sidebar></app-sidebar>
        </div>


        <div class="col-md-10">

            <app-header> </app-header>

            <app-body> </app-body>


        </div>
    </div>
</div>