.container-fluid, .modal-header, .modal-footer {
    font-family: 'Roboto', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
  justify-content: center;
}

